<div class="header">
	
	<div class="row" style="align-items: center;">
		<div style="padding-right:20px">
		  <img class="myimg" src="/images/gunnar_morling.jpg" alt="Gunnar Morling">
		</div>
		<div>
			<h1 class="site-title" style="padding-bottom: 10px;"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
			<div class="site-description">
				{{- if isset .Site.Params "subtitle" -}}
				<h2>{{ .Site.Params.Subtitle | markdownify }}</h2>
				{{- end -}}
			
				<nav class="nav social">
					<ul class="flat">
						{{- range $index, $key := .Site.Params.Social -}}
						<a href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a>
						{{- end -}}
					</ul>
				</nav>
			</div>
		</div>

	</div>
	
	

	<nav class="nav">
		<ul class="flat">
			{{ range .Site.Menus.main }}
			<li>
				<a href="{{ .URL }}">{{ .Name }}</a>
			</li>
			{{ end }}
		</ul>
	</nav>
</div>
